<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="tabs/planets"></ion-back-button>
      <ion-title>{{people.name}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>{{people.name}}</h2>
  <ion-card>
    <ion-item>
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>{{people.name}}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-grid>
        <ion-row>
        <ion-col>
          <p>Mass</p>
          <p>{{people.mass}}</p>
        </ion-col>
        <ion-col>
          <p>Height</p>
          <p>{{people.height}}</p>
        </ion-col>
        <ion-col>
          <p>Hair Color</p>
          <p>{{people.hair_color}}</p>
        </ion-col>
        <ion-col>
          <p>Birth Year</p>
          <p>{{people.birth_year}}</p>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
